$white: #fff;

$blue: #3866b1;

$red: #c21020;

$black: lighten(#000, percentage(1/16));
$dark-gray: lighten(#000, percentage(3/16));
$gray: lighten(#000, percentage(5/16));
$light-gray: lighten(#000, percentage(13/16));
