#galleria-loader {
  height: 1px !important;
}

.galleria-theme-classic {
  position: relative;
  overflow: hidden;

  img {
    user-select: none;
  }

  .galleria-carousel {
    .galleria-thumbnails-list {
      margin: 0 2em;
    }
  }

  .galleria-info {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 1;

    .galleria-info-title {
      background-color: rgba(0, 0, 0, 0.5);
      color: $white;
      padding: 0.25em 0.5em;

      @include transition(background-color 0.25s);

      &:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }

      a {
        color: $red;
      }
    }
  }

  .galleria-image-nav {
    height: 32px;
    left: 0;
    position: absolute;
    margin-top: -16px;
    top: 50%;
    width: 100%;
  }

  .galleria-image-nav-left, .galleria-image-nav-right {
    cursor: pointer;
    height: 32px;
    font-size: 24px;
    line-height: 32px;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    width: 32px;
    z-index: 2;

    &:after {
      background-color: $black;
      color: $white;
      left: 0;
      line-height: 32px;
      position: absolute;
      top: 0;
      width: 32px;

      @include border-radius(100%);
    }

    &:hover {
      opacity: 0.8;
    }
  }

  .galleria-image-nav-left {
    left: 1em;

    &:after {
      content: '<';
    }
  }

  .galleria-image-nav-right {
    right: 1em;

    &:after {
      content: '>';
    }
  }

  .galleria-loader {
    background: image-url('spinner.gif') no-repeat;
    display: none;
    height: 20px;
    position: absolute;
    right: 1em;
    top: 1em;
    width: 20px;
    z-index: 2;
  }

  .galleria-stage {
    background: $light-gray;
    bottom: 91px;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
  }

  .galleria-thumb-nav-left, .galleria-thumb-nav-right {
    background-color: $red;
    color: white;
    cursor: pointer;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    top: 0;
    height: 75px;
    width: 24px;
    z-index: 3;

    &:after {
      height: 16px;
      left: 0;
      line-height: 16px;
      margin-top: -8px;
      position: absolute;
      top: 50%;
      width: 100%;
    }

    &:hover {
      opacity: 1;
    }
  }

  .galleria-thumb-nav-left {
    left: 0;

    &:after {
      content: '<';
    }
  }

  .galleria-thumb-nav-right {
    right: 0;

    &:after {
      content: '>';
    }
  }

  .galleria-thumbnails {
    .galleria-image {
      cursor: pointer;
      float: left;
      height: 75px;
      margin-right: 1em;
      width: 100px;
    }
  }

  .galleria-thumbnails-container {
    height: 75px;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;

    .disabled, .disabled:hover {
      cursor: default;
      opacity: 0.2;
    }
  }
}
