.pika-button {
  border: none;
  color: $dark-gray;
  cursor: pointer;
  font-size: 90%;
  line-height: 15px;
  outline: none;
  padding: 5px;
  text-align: right;
  width: 100%;

  &:hover {
    background: $red !important;
    color: $white !important;
  }
}

.pika-label {
  display: inline-block;
  font-weight: bold;
  overflow: hidden;
  padding: 5px 3px;
  position: relative;
}

.pika-next, .pika-prev {
  background: none;
  border: none;
  color: $gray;
  cursor: pointer;
  font-weight: bold;
  height: 25px;
  outline: none;
  position: absolute;
  width: 20px;

  &:hover {
    color: $dark-gray;
  }
}

.pika-next {
  right: 0;
  top: 0;
}

.pika-prev {
  left: 0;
  top: 0;
}

.pika-select {
  display: inline-block;
  font-weight: normal;
}

.pika-single {
  background: $white;
  border: 1px solid $light-gray;
  color: $dark-gray;
  display: block;
  padding: 8px;
  position: relative;
  width: 240px;

  &.is-bound {
    position: absolute;
  }

  &.is-hidden {
    display: none;
  }
}

.pika-title {
  position: relative;
  text-align: center;

  select {
    cursor: pointer;
    font-weight: normal;
    position: absolute;
    left: 0;
    opacity: 0;
  }
}

.pika-table {
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  abbr {
    border-bottom: none;
  }

  td, th {
    padding: 0;
    width: percentage(1/7);
  }

  th {
    color: $gray;
    font-size: 90%;
    font-weight: bold;
    text-align: center;
    line-height: 25px;
  }

  .is-disabled .pika-button {
    cursor: default;
    color: $gray;
    pointer-events: none;
  }

  .is-selected .pika-button {
    background-color: $blue;
    color: $white;
    font-weight: bold;
  }

  .is-selected.is-today .pika-button {
    color: $white;
  }

  .is-today .pika-button {
    color: $blue;
    font-weight: bold;
  }
}
