.tt-dropdown-menu {
  border: 1px solid $light-gray;
  background-color: $white;
  margin-top: 2px;
  padding: 5px 0;
  width: 100%;
  z-index: 100;

  @include border-radius(4px);
  @include box-shadow(0px 5px 10px rgba(0, 0, 0, 0.2));
}

.tt-hint {
  color: $light-gray;
}

.tt-suggestion {
  padding: 0.25em 0.5em;

  &.tt-cursor {
    background-color: $blue;
    color: $white;
    cursor: pointer;
  }

  p {
    margin: 0;
  }
}

.twitter-typeahead {
  width: 100%;
}
