<div class="row">
  <div class="small-12 columns">
    <div class="error-box">
      <div class="instructions">
        {{t "error.page.not_found.message"}}
      </div>

      <form class="form">
        {{#link-to "index" class="form-button blue"}}{{t "error.page.not_found.return"}}{{/link-to}}
      </form>
    </div>
  </div>
</div>
