<div class="row">
  <div class="small-12 columns">
    <div class="user-box">
      <div class="instructions">
        {{t "user.inactive.instructions"}}
      </div>

      <div class="form">
        <div class="copy">
          <a href="http://info.esfbook.net/adherer/" target="_blank">{{t "user.inactive.copy"}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
