<div class="row">
  <div class="small-12 columns">
    <div class="user-box">
      <div class="instructions">
        {{t "user.verify.instructions"}}
      </div>

      <div class="form">
        <div class="copy">{{t "user.verify.copy"}}</div>

        {{#link-to "user.login" class="form-button blue"}}{{t "user.login"}}{{/link-to}}
      </div>
    </div>
  </div>
</div>
